.items {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--items-gap);
  margin: 2rem 0;
}

.item {
  flex: var(--items-flex);
  position: relative;
  font-size: 0.95rem;
  border: var(--items-border);
  overflow: hidden;
  border-radius: 0.25rem;
  outline-offset: 0.15em;
  box-shadow: 0.1rem 0.1rem 0.35rem 0 var(--color-item-shadow);

  p,
  h3 {
    margin: 0;
  }

  &:focus-within {
    outline: solid 0.175em var(--color-link-outline);

    a {
      text-decoration: underline;
    }
  }

  .tags {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-red);
    color: var(--color-white);
    padding: 0.5em 0.75rem;
    border-bottom: var(--items-border);
    border-right: var(--items-border);
    border-bottom-right-radius: 0.15em;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.075em;
  }

  h3 a {
    display: flex;
    align-content: flex-end;
    aspect-ratio: 1.65/1;
    display: block;
    background-position: top center;
    background-size: cover;
    background-color: var(--color-red-dark);
    text-decoration: none;
    color: var(--color-white);
    outline: none;

    span {
      display: flex;
      align-items: center;
      min-height: 1rem;
      padding: 0.5rem 0.75rem;
      background-color: var(--color-item-bg-light);
      text-shadow: var(--text-shadow);
      border-bottom: var(--items-border);
      transition: background-color 200ms, min-height 200ms;
    }
  }

  h3 a:hover,
  h3 a:focus {
    span {
      min-height: 50%;
      background-color: var(--color-item-bg-dark);
    }
  }

  .desc {
    padding: 0.5rem 0.75rem 0.75rem;
  }
}

@media screen and (max-width: 665px) {
  .items {
    gap: 2.5rem;
    justify-content: center;
  }
  .item {
    flex: 0 1 22rem;
  }
}

@media screen and (min-width: 850px) {
  .items {
    width: 86vw;
    margin-left: calc(calc(43vw - 23rem) * -1);
  }
}

@media screen and (min-width: 1025px) {
  .item {
    flex: var(--items-flex-lg);
  }
}

@media screen and (min-width: 1400px) {
  .items {
    width: 75rem;
    margin-left: calc(calc(37.5rem - 23rem) * -1);
  }
}
