:root {
  --font-family: "Lato", sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-style-normal: normal;
  --font-style-italic: italic;

  --color-red: #cf1020;
  --color-red-dark: #6c0d15;
  --color-body: #3f3636;
  --color-body-dark: #240404;
  --color-body-light: #867b7b;
  --color-white: #fff;

  --color-item-bg-light: rgba(63, 54, 54, 0.85);
  --color-item-bg-dark: rgba(36, 4, 4, 0.96);
  --color-item-shadow: rgba(63, 54, 54, 0.15);

  --color-link-outline: rgba(63, 54, 54, 0.85);

  --text-shadow: 0.075em 0.075em 0.1em var(--color-body);

  --items-gap: 2rem;
  --items-flex: 0 0 calc(50% - var(--items-gap));
  --items-border: solid 0.05rem var(--color-body);
}
