:root {
  --font-family: "Lato", sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-style-normal: normal;
  --font-style-italic: italic;

  --color-red: #cf1020;
  --color-red-dark: #6c0d15;
  --color-body: #3f3636;
  --color-body-dark: #240404;
}
